<h2><%= user.escape('username') %></h2>


<div id="user-items-list">

</div>

<!-- <br>
Texts Written:<br>
<% user.texts().forEach(function(text){ %>
	<a href="#texts/<%= text.id %>"><%= text.escape('title') %></a><br>
<% })%>

<br>
Critiqued texts:<br>
<% user.critiquedTexts().models.forEach(function(text){ %>
	<a href="#texts/<%= text.id %>"><%= text.escape('title') %></a><br>
<% })%> -->

<br>
Critiques:<br>
<% user.critiques().forEach(function(critique){ %>
	<%= critique.id %>
<p class="hilite"><%= _.unescape(critique.text().escape("content")).slice(
					critique.get('start_idx'),
					critique.get('end_idx') + 1
		)%></p>
<% })%>
