<img src="<%= user.escape('filepicker_url')%>" width="100" height="100" class="img-circle"></img> 

<% if(window.currentUser.id == user.id){ %>
	<button class="btn-default" id="upload-img">Upload avatar</button>
<% } %>

<h2><%= user.escape('username') %></h2>

<ul class="nav nav-tabs">
  <!-- <li role="presentation" class="active" id="profile-tab"><a href="#">Profile</a></li> -->
  <li role="presentation" id="texts-tab" class="active"><a href="#">Texts <span class="badge user-tab"><%= user.texts().length %></span></a></li>
  <li role="presentation" id="critiques-tab"><a href="#">Critiques <span class="badge user-tab"><%= user.critiques().length %></span></a></li>
  <li role="presentation" id="replies-tab"><a href="#">Replies <span class="badge user-tab"><%= user.replies().length %></span></a></li>
  <li role="presentation" id="comments-tab"><a href="#">Comments  <span class="badge user-tab"><%= user.comments().length %></span></a></li>
	
</ul>
<div id="user-items-list">

</div>