Sort by: <button id="sort-users-comments-id" data-sort-method="asc" 								class="btn-default">new/old</button>
<br><br>

<% comments.forEach(function(comment){ %>
	<div class="user-item-show">
	<p class="byline">
	<a href="#texts/<%= comment.text().id %>"><%= comment.text().escape('title') %></a> by <a href="#/users/<%= comment.text().get('author_id') %>"><%= comment.text().escape('author') %></a> </p>

<div class="reply-comment-content"><%= comment.escape('content') %></div>

<small class="byline-small"><em>posted <%= moment(comment.escape('created_at')).fromNowOrNow() %></em></small>
</div>

<% }) %>