Sort by: <button id="sort-users-replies-id" data-sort-method="asc" 								class="btn-default">new/old</button>
<br><br>

<% replies.forEach(function(reply){ %>

<div class="user-item-show">
	<p class="byline">
	<a href="#texts/<%= reply.text().id %>"><%= reply.text().escape('title') %></a> by <a href="#/users/<%= reply.text().get('author_id') %>"><%= reply.text().escape('author') %></a> </p>

	<p class="hilite quote"><%= _.unescape(reply.text().escape("content")).slice(
				reply.critique().get('start_idx'),
				reply.critique().get('end_idx') + 1
	) %></p>

<div class="reply-content"><%= reply.escape('content') %></div>

<small class="byline-small"><em>posted <%= moment(reply.escape('created_at')).fromNowOrNow() %></em></small>

</div>	


<% }) %>