<div class="reply-content"><%= comment.escape('content') %></div>

<small class="byline-small"><em>posted by <a href="#users/<%=comment.user().id%>"><%= comment.user().escape('username') %></a> on <%= new Date(comment.get('created_at')).getUTCMonth() + 1 %>-<%= new Date(comment.get('created_at')).getUTCDate() %>-<%= new Date(comment.get('created_at')).getUTCFullYear() %></em><% if(comment.user().id == window.currentUser.id) { %><a class="delete-small">x</a><% } %></small>