	<% if(text.get('user_id') == window.currentUser.id){%>
		<div class="alert alert-danger" role="alert">
		Cannot critique your own text...
		</div>
	<%} else {%>
<div class="hilite"><%= selString %></div>
		
<form id="crit-submit">
	
	<textarea class="txta" name="content"></textarea>
	<input type="hidden" name="text_id" value="<%= text.id %>">
	<input type="hidden" name="user_id" value="<%= window.currentUser.id %>">
	<input type="hidden" name="start_idx" value="<%= startIdx %>">
	<input type="hidden" name="end_idx" value="<%= endIdx %>">
	

	  <input type="submit" value="Submit" class="btn-default">
	
</form>	
  <% } %>
	
	