<p class="hilite"><%= _.unescape(critique.text().escape("content")).slice(
			critique.get('start_idx'),
			critique.get('end_idx') + 1
) %></p>

<div id='crit-content'><%= critique.escape('content') %></div>


<br>
<em class="byline">posted by 
	<a href="#users/<%= critique.user().id %>"><%= critique.user().escape('username') %></a> <%= moment(critique.escape('created_at')).fromNow() %>
	<% if(critique.user().id == window.currentUser.id){%>
		
		<span id="crit-delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		
<% } %></em>
	

<div class="replies"></div>	
<div class="reply-new"></div>
<button id="reply-button" class="btn-default">Reply</button>
