<p class="hilite"><%= _.unescape(critique.text().escape("content")).slice(
			critique.get('start_idx'),
			critique.get('end_idx') + 1
) %></p>

<div id='crit-content'>
<%= critique.escape('content') %>
</div>


<br>
<em class="byline">posted by 
	<a href="#users/<%= critique.user().id %>"><%= critique.user().escape('username') %></a> <span data-livestamp="<%= new Date(critique.escape('created_at')) %>"></span>
	<% if(critique.user().id == window.currentUser.id){%>
	<button id="crit-delete" class="btn-default">Delete</button>
<% } %></em>
	

<div class="replies"></div>	
<div class="reply-new"></div>
<button id="reply-button" class="btn-default">Reply</button>
