<div class="hilite"><%= _.unescape(critique.escape("text_content")).slice(
			critique.get('start_idx'),
			critique.get('end_idx') + 1
) %></div>

<div id='crit-content'><%= critique.escape('content') %></div>


<br>
<em class="byline">posted by 
	<a href="#users/<%= critique.get('user_id') %>"><%= critique.escape('username') %></a> <%= moment(critique.escape('created_at')).fromNowOrNow() %>
	<% if(critique.get('user_id') == window.currentUser.id){%>
		
		<span id="crit-delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		
<% } %></em>
	

<div class="replies"></div>	
<div class="reply-new"></div>
<button id="reply-button" class="btn-default">Reply</button>
