<div class="reply-content"><%= reply.escape('content') %></div>

<small class="byline-small"><em>posted by <a href="#users/<%=reply.user().id%>"><%= reply.user().escape('username') %></a> on <%= new Date(reply.get('created_at')).getUTCMonth() + 1 %>-<%= new Date(reply.get('created_at')).getUTCDate() %>-<%= new Date(reply.get('created_at')).getUTCFullYear() %></em><% if(reply.user().id == window.currentUser.id) { %><a class="delete-small">x</a><% } %></small>