<!DOCTYPE html>
<html>
<head>
  <title>Wordshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Special+Elite&text=wordshop">
</head>
<body>
	
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  	<div class="container-fluid">
			<a href="/" class="navbar-brand">wordshop</a>
			<div class="btngrp" role="group">  			  
				
				<% if current_user %>
					<button type="button" class="btn btn-default" data-container="nav" 
					data-toggle="popover" data-placement="bottom" data-trigger="focus" 
					data-title="Tips" 
					data-content="1) Click on highlighted words to see their existing critique. 2) You can add inline critiques to any text except your own. Just highlight a piece of text and a form will appear, ready to accept your feedback. Please note that overlapping critiques are not allowed. 3) You can also leave general comments (not inline) on any text, or replies on any critique. 4) If you have a change of heart, you can always delete your own texts, critiques, replies, and comments.">
					?</button>
				
					<a href="/#" class="btn btn-default">Browse</a>
					<a href="/#texts/new" class="btn btn-default">Create text</a>
					<a class="btn btn-default" href="/#users/<%= current_user.id %>">
						<%= current_user.username %>
					</a>				
					<%= button_to "Sign Out", session_url, method: :delete, class: 'btn btn-default' %>
				<% else %>
					<form action="<%= session_url %>" method="POST" class="navbar-form" id="sign-in">

						<input type="hidden"
								name="authenticity_token"
								value="<%= form_authenticity_token %>">	

						<input type="text" name="user[username]" id="user_username" class="txti-small" placeholder="Username">
	
						<input type="password" name="user[password]" id="user_password" class="txti-small" placeholder="Password">
						<input type="submit" value="Sign In" class="btn-default">
					</form>						
				<% end %>
			</div>
    </div>
  	</nav>
	  <div class="container-fluid" style="padding-top:100px;">
			<ul>
			<% if flash[:errors] %>
				<% flash[:errors].each do |error| %>
				<div class="alert alert-danger" role="alert">
	
					<%= error %>
				</div>	
				<% end %>
			<% end %>
			</ul>
	<%= yield %>
	
		</div>
		<div id="footer"></div>
		
		<% if current_user %>
		<script type="text/javascript">
		    window.currentUser = {
		        id : "<%= current_user.id %>"
		    };
				$('body').css({"background": "none", "background-color": 'white'});
				$(function () {
				  $('[data-toggle="popover"]').popover()
				});
		</script>
		<% else %>	
		<script>
			$('button#guest').on('click', function(){
				$('#user_username').val('Guest');
				$('#user_password').val('password');
				$('form#sign-in').submit();
		});
		</script>	
		<% end %>		

</body>
</html>
