<h2>All texts</h2>
Sort by:
<button id="sort-texts-index-crits" data-sort-method="asc" class="btn-default"># of critiques</button>
<button id="sort-texts-index-title" data-sort-method="asc" class="btn-default">title</button>
<!-- <button id="sort-texts-index-author" data-sort-method="asc" class="btn-default">author</button> -->
<button id="sort-texts-index-id" data-sort-method="asc" class="btn-default">new/old</button>
<input type="text" id="filter-texts-input" class="txti" placeholder="Search by title or author's username"></input>

<br><br>
	
	<ul class="list-group index">
	<% texts.forEach(function(text){ %>
		
		<a href="#texts/<%= text.id %>" class="list-group-item index">
			<strong><%= text.escape('title') %></strong>
			 by <%= text.user().escape('username') %>
			<small><em><%= moment(text.escape('created_at')).fromNow() %></em></small>
			
			<span class="badge"><%= text.critiques().length %></span>
		</a>

  <% })%>
	</ul>

<script>
	
	</script>