<h2>All texts</h2>
Sort by:
<button id="sort-texts-index-crits" data-sort-method="asc" class="btn-default"># of critiques</button>
<button id="sort-texts-index-title" data-sort-method="asc" class="btn-default">title</button>
<button id="sort-texts-index-id" data-sort-method="asc" class="btn-default">new/old</button>

<br><br>
	<div class="list-group index">
	<% texts.forEach(function(text){ %>
		<a href="#texts/<%= text.id %>" class="list-group-item index"><strong><%= text.escape('title') %></strong> by <%= text.user().escape('username') %> 
			<small><em>on <%= new Date(text.get('created_at')).getUTCMonth() + 1 %>-<%= new Date(text.get('created_at')).getUTCDate() %>-<%= new Date(text.get('created_at')).getUTCFullYear() %></em></small>
			
			<span class="badge"><%= text.critiques().length %></span>
  <% })%></a>

</div>