<h2 class="h-not-block"><%= text.escape('title') %></h2>
<% if(window.currentUser.id == text.user().id){ %>
	<span id="text-delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
<% } %>	
<br>
by 
<% if(!text.user().escape('filepicker_url') == "") {%>
	<a href="#/users/<%= text.user().id %>"><img src="<%= text.user().escape('filepicker_url') %>" width="80" height="80" class="img-circle"></img></a>
<% } %>

<a href="#/users/<%= text.user().id %>">
	<%= text.user().escape('username') %></a>
	<small><em><%= moment(text.escape('created_at')).fromNow() %></span></em></small>
	

<pre id="text-content"><%= text.annotatedContent() %></pre>

<div id="text-comments"></div>
<div id="text-new"></div>
<button id="comment-button" class="btn-default">Comment</button>

