<h2><%= text.escape('title') %></h2>
by <a href="#/users/<%= text.user().id %>"><img src="<%= text.user().escape('filepicker_url') %>" width="100" height="100" class="img-circle"></img></a>
<a href="#/users/<%= text.user().id %>">
	<%= text.user().escape('username') %></a>
	<small><em><%= moment(text.escape('created_at')).fromNow() %></span></em></small>
	
<% if(window.currentUser.id == text.user().id){ %>
	<button id="text-delete" class="btn-default">Delete</button>
<% } %>	
<pre id="text-content"><%= text.annotatedContent() %></pre>

<div id="text-comments"></div>
<div id="text-new"></div>
<button id="comment-button" class="btn-default">Comment</button>

