<h2 class="h-not-block"><%= text.escape('title') %></h2>
<% if(window.currentUser.id == text.get('user_id')){ %>
	<span id="text-delete" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
<% } %>	
<br>
by 
<% if(!text.escape('author_img') == "") {%>
	<a href="#/users/<%= text.get('user_id') %>"><img src="<%= text.escape('author_img') %>" width="80" height="80" class="img-circle"></img></a>
<% } %>

<a href="#/users/<%= text.get('user_id') %>">
	<%= text.escape('username') %></a>
	<small><em><%= moment(text.escape('created_at')).fromNowOrNow() %></span></em></small>
	

<pre id="text-content"><%= text.annotatedContent() %></pre>

<div id="text-comments"></div>
<div id="text-new"></div>
<button id="comment-button" class="btn-default">Comment</button>

